# Manifest.in

global-include *.py
global-include *.sh
global-include *.txt

graft doc
graft example

graft dgproc/dtd
graft dgproc/po
graft dgproc/dg/doc
graft dgproc/dg/sieve/html_extras

global-exclude .htaccess
